body {
    background-image: url('http://static4.gamespot.com/uploads/scale_medium/1197/11970954/2396891-ncaafootball14.jpeg')
}

div {
    border-style: solid;
    border-width: 5px;
    padding: 30px;
}






